.profile-preview {
    width: 500px;
    background-color: white;
}
.profile-preview .profile-image {
    position: relative;
    width: 100%; height: 300px; /* for IE 6 */
}
.profile-preview img {
    width: 500px; height: 300px;
}
.profile-preview .profile-tags {
    margin-top: 5px;
    float: left;
    font-size: 18px;
    font-family: "ProximaNova-Light";
}
.profile-preview .profile-menu {
    border-bottom: 1px solid #adbfcd;
    margin: 15px 35px 0 35px;
    padding-bottom: 15px;
}

.following-status {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 40px;
    position: absolute;
    top: 25px;
    right: 35px;
    border: 2px solid white;
}

.following-status a {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Verdana";
    padding-top: 12px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: block;
    height: 28px;
}
.no-following a:hover {
    /*background-color: white;*/
}
.no-following:hover {
    background: white;
}
.no-following a:hover {
    color: #293c4b;
}
.following {
    background: white;
}
.following a {
    color: #293c4b;
}
.tags-etc {
    color: transparent;
    background: url('../../../../images/etc.png') no-repeat center center;
}
