.part{
    width: 100%;
    float: left;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* BARS
----------------------------------------------------------*/
.bar {
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    width: 200px; height: 35px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: "Verdana";
}
.bar .bar-value {
    font-size: 28px;
}
.bar .bar-value input {
    text-align: center;
    border: none;
    background: transparent;
    color: white;
    font-size: 28px;
    font-weight: bold;
    font-family: "Verdana";
}
.info {
    margin: 8px 0 0 0;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    line-height: 1.1;
}
.info p:first-child {
    margin-top: 0;
    font-size: 24px;
    font-family: "MuseoSans";
    margin-bottom: 0;
}
.info p {
    margin-top: 0;
    font-size: 13px;
    font-family: "ProximaNova-Light";
    margin-bottom: 0;
}
.info p input {
    margin-top: 0;
    font-size: 24px;
    font-family: "MuseoSans";
    margin-bottom: 0;
    border: none;
    color: #F0886D;
    background-color: transparent;
}
.track-date {
    margin: 8px 0 0 0;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    line-height: 1.1;
    border-right: 1px solid #293c4b;
}
.track-date-end {
    border-right: none;
}
.track-date:first-of-type {
    border-right: none;
}
.track-date p:first-child {
    margin-top: 0;
    font-size: 24px;
    font-family: "MuseoSans";
    margin-bottom: 0;
}
.track-date p {
    margin-top: 0;
    font-size: 13px;
    font-family: "ProximaNova-Light";
    margin-bottom: 0;
}
.overall {
    color: #293C4B;
}
.overall-bg {
    background-color: #293c4b;
}
.partial {
    color: #F0886D;
}
.partial-bg {
    background-color: #F0886D;
}
.track-row .line {
    padding-left: 0;
}
.track-row .line .options, .track-row .line .options a {
    color: #55676e;
    text-decoration: none;
}
.track-row .line .options a:hover {
    font-weight: bold;
}
.track-row .line .track-name a {
    color: #55676e;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: "Verdana";
}
.track-row .line .track-name .transport {
    color: #55676e;
    font-weight: normal;
    font-family: "ProximaNova-Light";
}
.track-row .line .track-name .transport input {
    color: #55676e;
    font-weight: normal;
    font-family: "ProximaNova-Light";
}