services:
	eventBaseLogic: App\Model\eventBaseLogic(@doctrine.dao(App\Model\Event))
	eventSearchLogic: App\Model\eventSearchLogic(@doctrine.dao(App\Model\Event))
	trackBaseLogic: App\Model\trackBaseLogic(@doctrine.dao(App\Model\Track))
	trackSearchLogic: App\Model\trackSearchLogic(@doctrine.dao(App\Model\Track))
	photoBaseLogic: App\Model\photoBaseLogic(@doctrine.dao(App\Model\Photo))
	photoSearchLogic: App\Model\photoSearchLogic(@doctrine.dao(App\Model\Photo))
	placeBaseLogic: App\Model\placeBaseLogic(@doctrine.dao(App\Model\Place))
	placeSearchLogic: App\Model\placeSearchLogic(@doctrine.dao(App\Model\Place), @doctrine.dao(App\Model\Track),@eventBaseLogic, @trackBaseLogic)
	transportBaseLogic: App\Model\transportBaseLogic(@doctrine.dao(App\Model\Transport))
	userBaseLogic: App\Model\userBaseLogic(@doctrine.dao(App\Model\User))