<div id="user-panel" style="display: none;">
    <div class="user" id="right-menu-preview" style="display: none;">
        <div class="user-title">
            <div class="user-ref float-left">
                <a onclick="userPanel();"></a>
            </div>
        </div>
        <div class="user-menu">
            <ul>
                <li>
                    <a class="icon home" href="{plink :Backend:Homepage:default}">
                    </a>
                </li>
                <li>
                    <a class="icon tracks" href="{plink :Backend:Profile:tracks, 'username' => $user->username}"></a>
                </li>
                <li>
                    <a class="icon photos" href="{plink :Backend:Profile:photos, 'username' => $user->username}"></a>
                </li>
                <li>
                    <a class="icon places" href="{plink :Backend:Profile:places, 'username' => $user->username}"></a>
                </li>
            </ul>
        </div>

    </div>

    <div class="user" id="right-menu" style="display: none;">
        <div class="user-title">
            <div class="user-ref float-left">
                <a onclick="userPanel();"></a>
            </div>
        </div>
        <div class="user-menu">
            <ul>
                <li>
                    <a class="icon home" href="{plink :Backend:Homepage:default}">
                        <span class="float-left">Home</span>
                    </a>
                </li>
                <li>
                    <a class="icon tracks" href="{plink :Backend:Profile:tracks, 'username' => $user->username}">
                        <span class="float-left">Tracks</span>
                        <span class="float-right">{count($user->tracks)}</span>
                        <div style="clear: both;"></div>
                    </a>
                </li>
                <li>
                    <a class="icon photos" href="{plink :Backend:Profile:photos, 'username' => $user->username}">
                        <span class="float-left">Photos</span>
                        <span class="float-right">{count($user->photos)}</span>
                        <div style="clear: both;"></div>
                    </a>
                </li>
                <li>
                    <a class="icon places" href="{plink :Backend:Profile:places, 'username' => $user->username}">
                        <span class="float-left">Places</span>
                        <span class="float-right">{count($user->places)}</span>
                        <div style="clear: both;"></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="user-summary">
            <div class="left-box float-left">
                <p class="number">{count($user->following)}</p>

                <p class="description"><a href="{plink :Backend:Profile:Following, 'username' => $user->username}">following</a>
                </p>
            </div>
            <div class="right-box float-left">
                <p class="number">{count($user->followers)}</p>

                <p class="description"><a href="{plink :Backend:Profile:Followers, 'username' => $user->username}">followers</a>
                </p>
            </div>
        </div>
    </div>
</div>