app/data*
www/images/thumbs/*
.idea/*
log/*
temp/cache/*
vendor/*
!vendor/others
www/webtemp/*

.DS_Store
!.gitignore
!.gitkeep
!.htaccess
!web.config
app/config/config.local.neon
composer.lock
tests/temp
*.expected
*.actual