.top-top-menu {
    top: 0;
    z-index: 1;
    font-size: 16px;
    width: 100%; height: 35px;
    color: #adb7bf;
    background-color: #f5f9fc;
    position: fixed;
    border-bottom: 1px solid #adbfcd;
}
.top-top-menu .refs, .top-top-menu .info {
    padding-top: 10px;
}
.top-top-menu .info {
    margin-left: 25px;
}
.top-top-menu .refs {
    margin-right: 25px;
}
.top-top-menu a {
    color: #adb7bf;
    text-decoration: none;
}
.top-top-menu a:first-child {
    padding-right: 20px;
}
