.sign-box {
    padding-top: 200px;
    margin: 0 auto;
    width: 500px;
    text-align: center;
}
.sign-box input[type="text"], .sign-box input[type="password"] {
    padding-left: 20px;
    width: 480px; height: 55px;
    border: none;
    font-size: 16px;
    font-weight: normal;
    font-family: "Verdana";
}
.sign-box input[type="submit"] {
    color: #3c948b;
    border-color: #3c948b;
    margin-top: 30px;
}
.sign-box input[type="submit"]:hover {
    color: white;
    background-color: #3c948b;
}
.sign-box input[type="checkbox"] {
    color: white;
    width: 15px; height: 15px;
    padding: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    margin: 0;
    margin-right: 5px;
}
.sign-box label {
    text-align: left;
    color: #55676e;
    font-size: 14px;
    font-family: "Verdana";
    display: block;
    padding-left: 15px;
    text-indent: 0;
}
.normal {
    margin-bottom: 40px;
}
.beforeCheckbox {
    margin-bottom: 30px;
}
