php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: 'Error:Error'
		mapping:
			*: App\Modules\*Module\Presenters\*Presenter

	session:
		expiration: 14 days

services:
    - App\RouterFactory
    router: @App\RouterFactory::createRouter

includes:
        - ../extensions/config.extensions.neon
        - ../Modules/FrontModule/Forms/config.forms.neon
        - ../model/config.model.neon