#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\Modules\*Module\Presenters\*Presenter

	session:
		expiration: 14 days


services:
    trackFacade: App\Model\trackFacade(@trackRepository, %wwwDir%)
    trackRepository: App\Model\trackRepository(@doctrine.dao(App\Model\Track))
    eventFacade: App\Model\eventFacade(@eventRepository, %wwwDir%)
    eventRepository: App\Model\eventRepository(@doctrine.dao(App\Model\Event))
    placeFacade: App\Model\placeFacade(@placeRepository, %wwwDir%)
    placeRepository: App\Model\placeRepository(@doctrine.dao(App\Model\Place))
    photoFacade: App\Model\photoFacade(@photoRepository, %wwwDir%)
    photoRepository: App\Model\photoRepository(@doctrine.dao(App\Model\Photo))
    - App\Modules\FrontModule\Forms\SearchForm
    - App\Modules\FrontModule\Forms\CommentForm
    - App\RouterFactory
    router: @App\RouterFactory::createRouter

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension