parameters:
    themeDir: %wwwDir%/../templates/

extensions:
    keeper: ViewKeeper\DI\ViewKeeperExtension

keeper:
    controls: %themeDir%/Modules/<module>/controls/<name>/<view>
    presenters: %themeDir%/Modules/<module>/presenters/<name>/<view>
    layouts: %themeDir%/Modules/<module>/layouts/@<view>