extensions:
	themes: Kappa\ThemesManager\DI\ThemesManagerExtension

themes:
	default:
		helpers:

            # helpers in format helperName: @service::method
		macros:
            # macros
		pathMasks:
			presenters:
				- :themeDir:/Modules/:modules:/templates/:presenter:/:view:.latte

			layouts:
				- :themeDir:/Modules/:modules:/templates/@layout.latte

		params:
			themeDir: %wwwDir%/../templates/