parameters:
	vendorDir: %appDir%/../vendor

services:
	wlCssFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
	lessFilter: WebLoader\Filter\LessFilter
	cssMin: App\WebLoader\Filters\CssMinFilter
	jsMin: App\WebLoader\Filters\JsMinFilter

extensions:
	webloader: WebLoader\Nette\Extension

webloader:

		# application CSS
		css:
			default:
				files:
					# /Base
					- {files: ["*.css", "*.less"], from: %wwwDir%/css/}
				filters:
					- @cssMin
					- @wlCssFilter

				fileFilters:
					- @lessFilter

		# application JS
		js:
			default:
				files:
					# jquery $ less
					- jquery-2.1.1.min.js
					- nette.ajax.js
					- %vendorDir%/nette/forms/src/assets/netteForms.js
					- less.min.js

					# /Base
					- {files: ["*.js"], from: %wwwDir%/js/}
					#- app.js

				filters:
					- @jsMin