{block head}
    <meta property="og:site_name" content="Anee" />
    <meta property="og:type" content="fitness.course" />
    <meta property="og:title" content="{$place->name}">
    <meta property="og:description" content="{$place->getDistance()} km">
    <meta name="author" http-equiv="content-type" content="@{$place->getUser()->getUsername()}"/>
{/block}

{block content}
    <div class="profile-page one-profil">
        {control profilePlace}
    </div>
{/block}
