{block title}
    {if $loggedUser->isLoggedIn()}
        {$user->getName()}
    {/if}
{/block}

{block content}
    <div class="profile-page one-profil">
        {control profile}
    </div>
{/block}
