{block content}

    {if $user->isLoggedIn()}
        {control following}
        <script type="text/javascript">

            var e = document.getElementsByTagName("html")[0];
            var background = 'url(..{$background})';
            var backgroundR = background.replace(/\"/g, "");
            var backgroundF = backgroundR.replace(/\\/g, "/");
            e.style.backgroundImage = backgroundF;
        </script>
    {/if}

{/block}
