<div class="top-top-menu" id="top" role="navigation" style="display: block;">
    <div class="project-description float-left">

    </div>
    <div class="refs float-left">
        <a href="https://github.com/anee/anee">Github</a>
    </div>
    <div class="refs float-right">
        {if $user->isLoggedIn()}
            <a href="#profile{$loggedUser->id}" data-toggle="modal">{$loggedUser->getName()}</a>
            <a href="{plink :Backend:Profile:default, 'username' => $loggedUser->usernameUrl}">Full profile</a>
            <a data-toggle="modal" href="#settings">Settings</a>
            <a data-toggle="modal" href="#feedback">Support</a>
            <a href="{plink :Security:Sign:out}">Sign out</a>
            {control settingsModal}
            {control profileModal}
            {control feedbackModal}
        {else}
            <a href="{plink :Security:Sign:in}">Sign in</a>
            <a href="{plink :Security:Register:in}">Register</a>
        {/if}
    </div>
</div>