    <div class="top-top-menu" role="navigation">
        <div class="info float-left">
            Anee is place for sharing tracks and photos.
        </div>
        <div class="refs float-right">
           {if $user->isLoggedIn()}
                <a href="{plink :Security:Sign:out}">Sign out</a>
            {else}
                <a href="{plink :Security:Sign:in}">Sign in</a>
                <a href="{plink :Security:Register:in}">Register</a>
            {/if}
        </div>
    </div>
