    <div class="top-top-menu" role="navigation">
        <div class="info float-left">
            Anee is place for sharing tracks and photos.
        </div>
        <div class="refs float-right">
            <a href="{plink :Security:Sign:out}">Sign out</a>
        </div>
    </div>
