{block content}

    {$track->getName()}

<script type="text/javascript">

        var e = document.getElementsByTagName("html")[0];
        var background = 'url(../..{$background})';
        var backgroundR = background.replace(/\"/g, "");
        var backgroundF = backgroundR.replace(/\\/g, "/");
        e.style.backgroundImage = backgroundF;
        console.log(backgroundF);
</script>

{/block}
