services:
	RegisterIn:
		class: App\Modules\SecurityModule\Controls\RegisterIn
		implement: App\Modules\SecurityModule\Controls\IRegisterInFactory

	SignIn:
		class: App\Modules\SecurityModule\Controls\SignIn
		implement: App\Modules\SecurityModule\Controls\ISignInFactory