<div class="search-title">
    <div class="line">
        <span class="highlight">{$results->getTotalCount()}</span> Total Results,
        <span class="highlight">{$results->getSelectedCount()}</span>
        {if $values['search'] != ""}
            for
            <span class="highlight"><a href="
                {var $args = array('username' => $values['username'], 'values' => array_merge(array(), ['search' => $values['search']]))}
                {plink Search:default (expand) $args}
            ">{$values['search']}</a></span>
        {/if}
        {foreach $values['filterCategory'] as $u => $category}
            {if $iterator->isFirst()}
                in
            {/if}

            <span class="highlight">
            <a href="
                                    {var $args = array('values' => [filterCategory => array($category)], 'username' => $values['usernameUrl'])}
                                    {plink Search:default (expand) $args}
                    ">{$category}</a></span>{if !$iterator->isLast()},{/if}
        {/foreach}
        {if ($values['filterEntity'] == "Track" || $values['filterEntity'] == "Event") && $template->arrayContainsOneOrMore(array('Photos', 'Places'), $values['filterCategory'])}
            during
            <span class="highlight"><a href="
            					{plink :Backend:Tracks:default, 'url' => $results->getEntityObject()->id, 'username' => $values['usernameUrl']}
                                                        *}">{$results->getEntityObject()->getName()}</a></span>
        {elseif $values['filterEntity'] == "Place" && $template->arrayContainsOneOrMore(array('Tracks', 'Events', 'Photos', 'Places'), $values['filterCategory'])}
            near
            <span class="highlight"><a href="
            					    {plink :Backend:Places:default, 'url' => $results->getEntityObject()->name, 'username' => $values['usernameUrl']}
                                ">{$results->getEntityObject()->name}</a></span>
        {/if}
        {foreach $values['filterTransport'] as $u => $transport}
            {if $iterator->isFirst()}
                by
            {/if}
            <span class="highlight"><a href="
                            			{var $args = array('values' => [filterTransport => array($transport)], 'username' => $values['usernameUrl'])}
                                    	{plink :Backend:Search:default (expand) $args}
                            		">{ucfirst($transport)}</a></span>{if !$iterator->isLast()},{/if}
        {/foreach}
        {if $values['filterTimeStart'] != ""}
            within
            <span class="highlight"><a href="
                    {var $args = array('values' => [filterTime => $values['filterTimeStart']], 'username' => $values['usernameUrl'])}
                    {plink :Backend:Search:default (expand) $args}
                ">{$values['filterTimeStart']}</a></span>
        {/if}
        {if $values['filterSortBy'] != ""}
            sorted by
            <span class="highlight"><a href="
                    {var $args = array('values' => [filterTime => $values['filterSortBy']], 'username' => $values['usernameUrl'])}
                    {plink :Backend:Search:default (expand) $args}
                ">{$values['filterSortBy']}</a></span>
        {/if}

        <div class="float-right">
            <ul class="detail-info">
                {var $categories = App\Searching\Utils::getCategories()}
                {foreach $categories as $category}
                    {if !$template->isSelected($category, $values['filterCategory'])}
                        <li class="float-left">
                            <span class="highlight">
                                {$results->getCountForCategory($category)}
                            </span>
                            in
                            <span class="highlight">
                            <a href="
                                {var $args = array('username' => $values['username'], 'values' => array_merge($values, [filterCategory => array($category)]))}
                                {plink Search:default (expand) $args}">
                                {$category}<span></a></span>{if !$iterator->isLast() && !$template->isSelected($categories[$iterator->getNextKey()], $values['filterCategory'])},{/if}</span>
                        </li>
                    {/if}
                {/foreach}
            </ul>
        </div>
    </div>
</div>