{block content}

     Backend - homepage - logged in,

     {foreach $tracks as $track}
         <a href="{plink :Backend:Track:Detail, 'id' => $track->getId(), 'username' => $user->getIdentity()->data['username']}">{$track->getName()}</a>
     {/foreach}

     <a href="{plink :Security:Sign:Out}">Sign out</a>


{/block}
