{block content}

     Logged in as {$user->getIdentity()->data['username']} - <a href="{plink :Security:Sign:Out}">Sign out</a>,

    Tracks:
     ({foreach $tracks as $track}
         <a href="{plink :Backend:Track:Detail, 'id' => $track->getId(), 'username' => $user->getIdentity()->data['username']}">{$track->getName()}</a>
     {/foreach})

{/block}
