<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{block title|striptags}Anee{/block}</title>

    <meta name="keywords" content="Anee, anee, sport, sports, tracker, tracks, events, photos, sharing, friends, cycling, running"/>
    <meta name="author" http-equiv="content-type" content="Anee © 2014"/>
    <meta name="copyright" http-equiv="content-type" content="Anee © 2014"/>
    <meta name="description" content="Anee is place for sharing tracks and photos."/>

    <meta name="robots" content="{$robots}" n:ifset="$robots">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {* WebLoader *}
    {control cssScreen}

    {block scripts}
        {control js}
    {/block}
    {* /WebLoader *}

    {block head}{/block}
</head>

<body>
<script> document.documentElement.className += ' js' </script>

{control topTopMenu, $themeDir.'/Modules/Backend/Controls/TopTopMenu/TopTopMenu.latte'}

<div id="content" style="padding: 17px 0 0 0;">
    {include content}
</div>

</body>
</html>