<div class="profile-page many-profiles">

  {foreach $control->components as $control}
        {control $control->getName(), $themeDir.'/Modules/Backend/Controls/ProfilePreview/ProfilePreview.latte'}
  {/foreach}

</div>
