<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags}{/block}</title>

	<link rel="stylesheet" media="all" href="{$basePath}/css/bootstrap.min.css">
	<link rel="stylesheet" media="all" href="{$basePath}/css/app.css">

	{block head}{/block}
</head>

<body>
<script> document.documentElement.className+=' js' </script>

<!-- Fixed top menu -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div id="top-menu-search" class="float-left">
	<div id="top-menu-search-ref" class="float-left"">
		<a onclick="searchBarVisibility('search-bar');"></a>
	</div>
</div>
{*<div id="top-menu-map">
	<ul class="nav navbar-nav map">
		<li><a href="" class="map">Show map</a></li>
	</ul>
</div>*}
<div id="right-menu-ref" class="float-right">
	<a onclick="rightMenuVisibility('right-menu');"></a>
</div>
<div id="top-menu-social" class="float-right">
	<ul class="nav navbar-nav social">
		<li><a href="https://twitter.com/ldrahnik" title="Twitter" class="twitter"></a></li>
		<li><a href="https://www.facebook.com/lukas.drahnik" title="Facebook" class="facebook"></a></li>
	</ul>
</div>
<div id="top-menu-title">Anee</div>
</div>

<!-- Search bar -->
<div id="search-bar" style="display:none;">
<li class="dropdown">

{form searchForm}

{input search}
<div id="search-bar-filters" class="float-right">
{input filterCategory}
{input filterTransport}
{input filterTime}
</div>
{*{input username, class=>jesteVicSuperDupperTrida}*}

{/form}

{*{control searchForm}
	<form n:name=searchForm class="float-left">
		<input n:name=search>
		<input n:name=select>
		<input n:name=options>
		<input n:name=filterCategory>
	</form>*}
	{*<div id="search-bar-filters" class="float-right">
		{*<ul class="nav navbar-nav">
			<li class="dropdown">
				{if $presenter->getParameter('category') == ''}
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Any category <span class="caret"></span></a>
				{else}
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{$presenter->getParameter('category')} <span class="caret"></span></a>
				{/if}
				<ul class="dropdown-menu">
					<li n:class="$presenter->getParameter('category') == '' ? 'active'">
                       	<a n:href="this category => ''">Any category</a>
                    </li>
					<li n:class="$presenter->getParameter('category') == 'Tvents' ? 'active'">
                    	<a n:href="this category => Events">Events</a>
                    </li>
                    <li n:class="$presenter->getParameter('category') == 'Tracks' ? 'active'">
                    	<a n:href="this category => Tracks">Tracks</a>
                    </li>
				</ul>
			</li>
			<li class="dropdown">
            				{if $presenter->getParameter('transport') == ''}
            					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Any transport <span class="caret"></span></a>
            				{else}
            					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{$presenter->getParameter('transport')} <span class="caret"></span></a>
            				{/if}
            				<ul class="dropdown-menu">
            					<li n:class="$presenter->getParameter('transport') == '' ? 'active'">
                                   	<a n:href="this transport => ''">Any transport</a>
                                </li>
            					<li n:class="$presenter->getParameter('transport') == 'By Cycling' ? 'active'">
                                	<a n:href="this transport => 'By cycling'">By cycling</a>
                                </li>
                                <li n:class="$presenter->getParameter('transport') == 'By Running' ? 'active'">
                                	<a n:href="this transport => 'By running'">By running</a>
                                </li>
            				</ul>
            			</li>
			{*<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Any transport <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">Any transport</a></li>
					<li><a href="#">By cycling</a></li>
					<li><a href="#">By running</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Any time <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">Any time</a></li>
					<li><a href="#">Past hour</a></li>
					<li><a href="#">Past week</a></li>
					<li><a href="#">Past month</a></li>
					<li><a href="#">Past year</a></li>
					<li class="divider"></li>
					<li><a href="#">Custom range...</a></li>
				</ul>
			</li>
		</ul>
	</div>*}
</div>

<!-- Begin page content -->
<div id="content" class="container float-left" style="padding-top: 100px; padding-right: 50px">
	{include content}
</div>

<!-- Fixed right menu -->
<div id="right-menu" style="padding-top: 105px; display:none;">
	<div class="part margin-bot-15 padding-bot-5 border-bottom">
		<h3 class="float-left"><a href="{plink :Front:Homepage:default}">Home</a></h3>
		<div style="clear: both;"></div>
	</div>
	<div class="part width-100 margin-bot-40 float-left">
	    <ul class="float-left">
            <li class="selected float-left">
        		<span class="highlight">{$eventsCount}</span><a href=""> Events</a>
        	</li>
        	<li class="float-left">
        		<span class="highlight">{$tracksCount}</span><a href=""> Tracks</a>
        	</li>
        	<li class="float-left">
        		<span class="highlight">{$placesCount}</span><a href=""> Places</a>
        	</li>
        	<li class="float-left">
        		<span class="highlight">{$photosCount}</span><a href="{plink :Front:Photo:default}"> Photos</a>
            </li>
        </ul>
	</div>
	<div class="part summary width-100 float-left">
		<div class="bar overall-bg float-left">{$distanceSum} km</div>
		<div class="bar partial-bg float-right">{$tracksCount + $eventsCount} tracks</div>
	</div>
</div>

<!-- Fixed right menu center -->
<div id="wrapper" style="display:none;">
<div id="right-menu-center" style="padding-top: 105px; display:none;">
    <div class="part margin-bot-15 padding-bot-5 border-bottom">
    		<h3 class="float-left"><a href="{plink :Front:Homepage:default}">Home</a></h3>
    		<div style="clear: both;"></div>
    	</div>
    	<div class="part width-100 margin-bot-40 float-left">
    	    <ul class="float-left">
                <li class="selected float-left">
            		<span class="highlight">{$eventsCount}</span><a href=""> Events</a>
            	</li>
            	<li class="float-left">
            		<span class="highlight">{$tracksCount}</span><a href=""> Tracks</a>
            	</li>
            	<li class="float-left">
            		<span class="highlight">{$placesCount}</span><a href=""> Places</a>
            	</li>
            	<li class="float-left">
            		<span class="highlight">{$photosCount}</span><a href=""> Photos</a>
                </li>
            </ul>
    	</div>
    	<div class="part summary width-100 float-left">
    		<div class="bar overall-bg float-left">{$distanceSum} km</div>
    		<div class="bar partial-bg float-right">{$tracksCount + $eventsCount} tracks</div>
    	</div>
</div>
</div>


<!-- Footer -->
<footer>
	"The world is like a book, those who do not travel, read only one page." - St. Augustine.
</footer>

{block scripts}
	<script src="{$basePath}/js/jquery-2.1.1.min.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/Chart.min.js"></script>
	<script src="{$basePath}/js/app.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
{/block}

	</body>
</html>