<!DOCTYPE html>
<html>
<head>
	<!--Meta-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{block title|striptags}Anee{/block}</title>

	<meta name="description" content="" />
	<meta name="keywords" content="anee, cycle, cycling, run, running, digital nomad, freelance" />
	<meta name="author" http-equiv="content-type" content="Lukáš Drahník" />
	<meta name="copyright" http-equiv="content-type" content="Lukáš Drahník" />

	<!--Open Graph - sharing values-->
	<meta property="og:title" content="Anee">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://anee.drahnik-lukas.com/">
	<meta property="og:image" content="http://anee.drahnik-lukas.com/images/og-image.png">
	<meta property="og:description" content="">

	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--Styles-->
	<link rel="stylesheet" media="all" href="{$basePath}/css/bootstrap.min.css">
	<link rel="stylesheet" media="all" href="{$basePath}/css/app-min.css">
	<link rel="stylesheet" media="all" href="{$basePath}/css/bootstrap-multiselect.css">


	{block head}{/block}
</head>

<body>
<script> document.documentElement.className+=' js' </script>

<!-- Fixed top menu -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div id="top-menu-search" class="float-left">
		<div id="top-menu-search-ref" class="float-left">
			<a onclick="searchBarVisibility('search-bar');"></a>
		</div>
	</div>
	{*<div id="top-menu-map">
		<ul class="nav navbar-nav map">
			<li><a href="" class="map">Show map</a></li>
		</ul>
	</div>*}
	<div id="right-menu-ref" class="float-right">
		<a id ="right-menu-ref-a" onclick="rightMenuVisibility('right-menu');"></a>
	</div>
	<div id="top-menu-social" class="float-right">
		<ul class="nav navbar-nav social">
			<li><a href="https://twitter.com/ldrahnik" title="Twitter" class="twitter"></a></li>
			<li><a href="https://www.facebook.com/lukas.drahnik" title="Facebook" class="facebook"></a></li>
		</ul>
	</div>
	<div id="top-menu-title">
		Anee
	</div>
</div>

<!-- Search bar -->
<div id="search-bar" style="display:none;">
	{form searchFormFactory}
		{input search}
		<div id="search-bar-filters" class="float-right">
			{input filterCategory class => multiselect}
			{input filterTransport class => multiselect}
			{input filterTime class => multiselect}
			{input filterSortBy class => multiselect}
		</div>
	{/form}
</div>

<!-- Begin page content -->
<div id="content" class="container float-left" style="padding-top: 100px; padding-right: 50px">
	{include content}
</div>

<!-- Fixed right menu -->
<div id="right-menu" style="padding-top: 95px; display:none;">
	{*<div class="part margin-bot-5 padding-bot-5 padding-left-20">
		<h3 class="float-left"><a href="{plink :Front:Homepage:default}">Home</a></h3>
		<div style="clear: both;"></div>
	</div>*}
	<div class="part width-100 margin-bot-40 margin-left-20 float-left">
    	 <ul class="float-left">
            <li class="selected float-left">
        		<span class="highlight">{$dataCounts['events']}</span><a href="
                {var $args = array('values' => [filterCategory => array('Events')])}
                {link Search:default (expand) $args}"> Events</a>
        	</li>
        	<li class="float-left">
        		<span class="highlight">{$dataCounts['tracks']}</span><a href="
                {var $args = array('values' => [filterCategory => array('Tracks')])}
                {link Search:default (expand) $args}"> Tracks</a>
        	</li>
        	<li class="float-left">
        		<span class="highlight">{$dataCounts['places']}</span><a href="
                {var $args = array('values' => [filterCategory => array('Places')])}
                {link Search:default (expand) $args}"> Places</a>
        	</li>
        	<li class="float-left">
        		<span class="highlight">{$dataCounts['photos']}</span><a href="
                {var $args = array('values' => [filterCategory => array('Photos')])}
                {link Search:default (expand) $args}"> Photos</a>
            </li>
             {foreach $dataCounts['transports'] as $transport}
                  {if $transport->getCount() > 0}
                    	<li class="selected float-left">
                              <span class="highlight">{$transport->getCount()}</span><a href="
                                   {var $args = array('values' => [filterTransport => array($transport->name), filterCategory => array(Events, Tracks)])}
                                   {link Search:default (expand) $args}"> {ucfirst($transport->name)}</a>
                        </li>
                  {/if}
             {/foreach}
         </ul>
	</div>
	<div class="part summary width-100 float-left">
		<div class="bar overall-bg float-left">{$dataCounts['distance']} km</div>
		<div class="bar partial-bg float-right">{$dataCounts['tracks'] + $dataCounts['events']} total</div>
	</div>
</div>

<!-- Fixed right menu center -->
<div id="wrapper" style="display:none;">
<div id="right-menu-center" style="padding-top: 95px; display:none;">
    {*<div class="part margin-bot-15 padding-bot-5 border-bottom">
    		<h3 class="float-left"><a href="{plink :Front:Homepage:default}">Home</a></h3>
    		<div style="clear: both;"></div>
    	</div>*}
    	<div class="part width-100 margin-bot-40 float-left">
    	    <ul class="float-left">
            <li class="selected float-left">
        		<span class="highlight">{$dataCounts['events']}</span><a href="
                {var $args = array('values' => [filterCategory => array('Events')])}
                {link Search:default (expand) $args}"> Events</a>
        	</li>
        	<li class="float-left">
        		<span class="highlight">{$dataCounts['tracks']}</span><a href="
                {var $args = array('values' => [filterCategory => array('Tracks')])}
                {link Search:default (expand) $args}"> Tracks</a>
        	</li>
        	<li class="float-left">
        		<span class="highlight">{$dataCounts['places']}</span><a href="
                {var $args = array('values' => [filterCategory => array('Places')])}
                {link Search:default (expand) $args}"> Places</a>
        	</li>
        	<li class="float-left">
        		<span class="highlight">{$dataCounts['photos']}</span><a href="
                {var $args = array('values' => [filterCategory => array('Photos')])}
                {link Search:default (expand) $args}"> Photos</a>
            </li>
             {foreach $dataCounts['transports'] as $transport}
                              {if $transport->getCount() > 0}
                                	<li class="selected float-left">
                                          <span class="highlight">{$transport->getCount()}</span><a href="
                                               {var $args = array('values' => [filterTransport => array($transport->name), filterCategory => array(Events, Tracks)])}
                                               {link Search:default (expand) $args}"> {ucfirst($transport->name)}</a>
                                    </li>
                              {/if}
                         {/foreach}
            </ul>
    	</div>
    	<div class="part summary width-100 float-left">
    		<div class="bar overall-bg float-left">{$dataCounts['distance']} km</div>
    		<div class="bar partial-bg float-right">{$dataCounts['tracks'] + $dataCounts['events']} total</div>
    	</div>
	</div>
</div>


<!-- Footer -->
<footer>
	"The world is like a book, those who do not travel, read only one page." - St. Augustine.
</footer>

{block scripts}
	<script src="{$basePath}/js/jquery-2.1.1.min.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/Chart.min.js"></script>
	<script src="{$basePath}/js/app.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/bootstrap-multiselect.js"></script>
{/block}

	<!-- Initialize the plugin: -->
	<script type="text/javascript">
		$(document).ready(function() {
            $('.multiselect').multiselect({
                nonSelectedText: 'Any category'
            });
        });
	</script>
	</body>
</html>