{if $detail != TRUE}
    <div class="track-row">
        <div class="line">
            <p class="track-name float-left">
                <a href="{plink :Backend:Places:default, 'url' => $place->nameUrl, 'username' => $profileUser->usernameUrl}">{$place->name}</a>
            </p>

            <p class="options float-right">

                {if $place->getLastUpdate() != NULL}
                    {$place->getLastUpdate()|dateAgoNumber}
                    {$place->getLastUpdate()|dateAgoText}
                    ·
                {/if}

                {var $placePhotosCount = count($place->photos)}
                {if $placePhotosCount > 0}
                    {var $args = array('username' => $profileUser->username, 'values' => ['filterCategory' => array('Photos'), 'filterEntity' => 'Place', 'filterEntityId' => $place->id, 'filterEntityUrl' => '/places/' . $place->id])}
                    <a href="{plink Search:default (expand) $args}">{$placePhotosCount} {$placePhotosCount|photosText}</a>
                {/if}
                {if count($place->photos) > 0 && $user->isLoggedIn() && $loggedUser->username == $profileUser->username}
                    ·
                {/if}
                {if $user->isLoggedIn() && $loggedUser->username == $profileUser->username}
                    <a href="{link remove!, 'id' => $place->id}" class="ajax">remove</a>
                {/if}

            </p>

            <div style="clear: both;"></div>
        </div>
        <div class="part">
            <div class="bar overall-bg float-left">
                <span class="bar-value">{$placeDistance}</span> km
            </div>
            {if $placeTimeInSeconds}
                <div class="track-date overall float-left text-align-center">
                    <p>{$place->getTimeInSeconds()|fromSecondsHours}</p>

                    <p>HOURS</p>
                </div>
                <div class="track-date overall float-left text-align-center">
                    <p>{$place->getTimeInSeconds()|fromSecondsMinutes}</p>

                    <p>MINS</p>
                </div>
                <div class="track-date track-date-end overall float-left text-align-center">
                    <p>{$place->getTimeInSeconds()|fromSecondsSeconds}</p>

                    <p>SECS</p>
                </div>
            {else}
                <div class="track-date track-date-end overall float-left text-align-center">
                    <p>N/A</p>
                    <p>INTERVAL</p>
                </div>
            {/if}
            <div class="bar partial-bg float-right">
                <span class="bar-value">{count($placeTracks)}</span>
                tracks{*{$track->getTimeInSeconds()|getSpanTimeFromSecondsNumber} {$track->getTimeInSeconds()|getSpanTimeFromSecondsText|strtolower}*}
            </div>
            {*<div class="info partial float-right text-align-right">
                <p>{$track->getAvgSpeed()}</p>
                <p></p>
            </div>*}
        </div>
    </div>
{else}
    <div class="track-row">
        {form placeEditForm class => ajax}
            <div class="line">
                <p class="track-name inline-change float-left">
                    {if $user->isLoggedIn() && $loggedUser->username == $profileUser->username}
                        {input name class => autosize}
                    {else}
                        <a href="{plink :Backend:Places:default, 'url' => $place->nameUrl, 'username' => $profileUser->usernameUrl}">{$place->name}</a>
                    {/if}
                </p>

                <p class="options float-right">

                    {if $place->getLastUpdate() != NULL}
                        {$place->getLastUpdate()|dateAgoNumber}
                        {$place->getLastUpdate()|dateAgoText}
                        ·
                    {/if}

                    {var $placePhotosCount = count($place->photos)}
                    {if $placePhotosCount > 0}
                        {var $args = array('username' => $profileUser->username, 'values' => ['filterCategory' => array('Photos'), 'filterEntity' => 'Place', 'filterEntityId' => $place->id, 'filterEntityUrl' => '/places/' . $place->id])}
                        <a href="{plink Search:default (expand) $args}">{$placePhotosCount} {$placePhotosCount|photosText}</a>
                    {/if}
                    {if count($place->photos) > 0 && $user->isLoggedIn() && $loggedUser->username == $profileUser->username}
                        ·
                    {/if}
                    {if $user->isLoggedIn() && $loggedUser->username == $profileUser->username}
                        <a href="" class="inline-save-change">{input save}</a>
                        ·
                        <a href="{link remove!, 'id' => $place->id}" class="ajax">remove</a>
                    {/if}
                </p>

                <div style="clear: both;"></div>
            </div>
            <div class="part">
                <div class="bar overall-bg float-left">
                    <span class="bar-value">{$placeDistance}</span> km
                </div>
                {if $placeTimeInSeconds}
                    <div class="track-date overall float-left text-align-center">
                        <p>{$place->getTimeInSeconds()|fromSecondsHours}</p>

                        <p>HOURS</p>
                    </div>
                    <div class="track-date overall float-left text-align-center">
                        <p>{$place->getTimeInSeconds()|fromSecondsMinutes}</p>

                        <p>MINS</p>
                    </div>
                    <div class="track-date track-date-end overall float-left text-align-center">
                        <p>{$place->getTimeInSeconds()|fromSecondsSeconds}</p>

                        <p>SECS</p>
                    </div>
                {else}
                    <div class="track-date track-date-end overall float-left text-align-center">
                        <p>N/A</p>
                        <p>INTERVAL</p>
                    </div>
                {/if}
                <div class="bar partial-bg float-right">
                    <span class="bar-value">{count($placeTracks)}</span>
                    tracks{*{$track->getTimeInSeconds()|getSpanTimeFromSecondsNumber} {$track->getTimeInSeconds()|getSpanTimeFromSecondsText|strtolower}*}
                </div>
                {*<div class="info partial float-right text-align-right">
                    <p>{$track->getAvgSpeed()}</p>
                    <p></p>
                </div>*}
            </div>
        {/form}
    </div>
{/if}