<div class="main-profile">
    <div class="profile-image" style="height: 250px;">
        <h2><a href="{plink :Backend:Profile:default, 'username' => $profileUser->usernameUrl}">{$profileUser->getName()}</a><br/>
            <span class="profile-tags">
                {foreach $profileUser->transports as $transport}
                    {if $iterator->getCounter() < 6}
                        {var $args = array('values' => [filterTransport => array($transport->name)], 'username' => $profileUser->usernameUrl)}
                        <a href="{plink :Backend:Search:default (expand) $args}">#{$transport->name}</a>
                    {/if}
                {/foreach}
                <a class="tags-etc" style="color: transparent;" data-toggle="modal" href="#transports{$profileUser->id}">mana</a>
                </span>
        </h2>
        {if $user->isLoggedIn() && $loggedUser->username != $profileUser->username}
            {if $loggedUser->following->contains($profileUser)}
                <div class="following-status following">
                    <a href="{link unfollow!}">following</a>
                </div>
            {else}
                <div class="following-status no-following">
                    <a href="{link follow!}">follow</a>
                </div>
            {/if}
        {/if}
    </div>

    <div class="wall-summary float-left" id="wall-summary">
        {var $isUserLoggedIn = $user->isLoggedIn() && $loggedUser->username == $profileUser->username}
        {var $aHrefLength = $isUserLoggedIn ? 'width: 145px;' : 'width: 215px;'}
        <div class="profile-menu">
            <ul>
                <li>
                    <a style="{$aHrefLength|noescape}" class="icon tracks" href="{plink :Backend:Profile:tracks, 'username' => $profileUser->usernameUrl}">
                        <span class="float-left">Tracks</span>
                        <span class="float-right">{count($profileUser->tracks)}</span>

                        <div style="clear: both;"></div>
                    </a>
                    {if $isUserLoggedIn}
                        <a class="icon add" data-toggle="modal" href="#addTrack"></a>
                    {/if}
                </li>
                <li>
                    <a style="{$aHrefLength|noescape}" class="icon photos" href="{plink :Backend:Profile:photos, 'username' => $profileUser->usernameUrl}">
                        <span class="float-left">Photos</span>
                        <span class="float-right">{count($profileUser->photos)}</span>

                        <div style="clear: both;"></div>
                    </a>
                    {if $isUserLoggedIn}
                        <a class="icon add" data-toggle="modal" href="#addPhoto"></a>
                    {/if}
                </li>
                <li>
                    <a style="{$aHrefLength|noescape}" class="icon places" href="{plink :Backend:Profile:places, 'username' => $profileUser->usernameUrl}">
                        <span class="float-left">Places</span>
                        <span class="float-right">{count($profileUser->places)}</span>

                        <div style="clear: both;"></div>
                    </a>
                    {if $isUserLoggedIn}
                        <a class="icon add" data-toggle="modal" href="#addPlace"></a>
                    {/if}
                </li>
            </ul>
        </div>

        <div class="profile-summary">
            <div class="left-box float-left">
                <p class="number">{$profileUser->getTotalDistance()}</p>

                <p class="description">total km</p>
            </div>
            <div class="right-box float-left">
                <p class="number">{count($profileUser->getTracks())}</p>

                <p class="description">tracks</p>
            </div>
        </div>
    </div>
    <div class="wall">
        {if $detail != TRUE}
            {if count($pinnedTracks) > 0}
                <div class="profile-activity">
                    <h3>PINNED ACTIVITY</h3>
                    {foreach $control->components as $component}
                        {if $template->strpos($component->getName(), 'YES')}
                            {control $component->getName()}
                        {/if}
                    {/foreach}
                </div>
            {/if}
            {if count($unpinnedTracks) > 0}
                <div class="profile-activity">
                    <h3>RECENT ACTIVITY</h3>
                    {foreach $control->components as $component}
                        {if $template->strpos($component->getName(), 'NO')}
                            {control $component->getName()}
                        {/if}
                    {/foreach}
                </div>
            {/if}
            {if $tracks == TRUE}
                <div class="profile-activity">
                    <h3>TRACKS</h3>
                    {foreach $control->components as $component}
                        {control $component->getName()}
                    {/foreach}
                </div>
            {/if}
            {if $places == TRUE}
                <div class="profile-activity">
                    <h3>PLACES</h3>
                    {foreach $control->components as $component}
                        {control $component->getName()}
                    {/foreach}
                </div>
            {/if}
            {if $photos == TRUE}
                <div class="profile-activity">
                    <h3>PHOTOS</h3>
                    {foreach $control->components as $component}
                        {control $component->getName()}
                    {/foreach}
                </div>
            {/if}
        {else}
            {if $tracks == TRUE}
                <div class="profile-activity">
                    {foreach $control->components as $component}
                        {control $component->getName()}
                    {/foreach}
                </div>
            {/if}
            {if $places == TRUE}
                <div class="profile-activity">
                    {foreach $control->components as $component}
                        {control $component->getName()}
                    {/foreach}
                </div>
            {/if}
            {if $photos == TRUE}
                <div class="profile-activity">
                    {foreach $control->components as $component}
                        {control $component->getName()}
                    {/foreach}
                </div>
            {/if}
        {/if}
    </div>
</div>

{control transportsModal}

{if $user->isLoggedIn() && $loggedUser->username == $profileUser->username}
    {control addTrackModal}
    {control addPhotoModal}
    {control addPlaceModal}
{/if}