
    <div class="profile">
        <div class="profile-image">
            <img src="{link getProfileImage}">
            {if count($user->transports) > 0}
                <h2><a style="opacity: 1;" href="{plink :Backend:Profile:default, 'username' => $user->username}">{$user->getName()}</a><br/>
            {else}
                <h2 style="top: 225px;"><a style="opacity: 1;" href="{plink :Backend:Profile:default, 'username' => $user->username}">{$user->getName()}</a><br/>
            {/if}
                {if count($user->transports) > 0}
                   <span class="profile-tags etc">
                {else}
                    <span class="profile-tags">
                {/if}
                {foreach $user->transports as $transport}
                    {if $iterator->getCounter() < 3}
                        {var $args = array('values' => [filterTransport => array($transport->name)], 'username' => $user->username)}
                        <a href="{plink :Backend:Search:default (expand) $args}">#{$transport->name}</a>
                    {/if}
                {/foreach}
                </span>
            </h2>

            {if $userLogged->following->contains($user)}
                <div class="following-status following">
                    <a href="{link unfollow!}">following</a>
                </div>
            {else}
                <div class="following-status no-following">
                    <a href="{link follow!}">follow</a>
                </div>
            {/if}

        </div>
        <div class="profile-menu">
            <ul>
                <li>
                    {var $args = array('values' => [filterCategory => array('Tracks')], 'username' => $user->username)}
                    <a class="icon tracks" href="{plink :Backend:Search:default (expand) $args}">
                        <span class="float-left">Tracks</span>
                        <span class="float-right">{count($user->tracks)}</span>
                        <div style="clear: both;"></div>
                    </a>
                </li>
                <li>
                    {var $args = array('values' => [filterCategory => array('Photos')], 'username' => $user->username)}
                    <a class="icon photos" href="{plink :Backend:Search:default (expand) $args}">
                        <span class="float-left">Photos</span>
                        <span class="float-right">{count($user->photos)}</span>
                        <div style="clear: both;"></div>
                    </a>
                </li>
                <li>
                    {var $args = array('values' => [filterCategory => array('Places')], 'username' => $user->username)}
                    <a class="icon places" href="{plink :Backend:Search:default (expand) $args}">
                        <span class="float-left">Places</span>
                        <span class="float-right">{count($user->places)}</span>
                        <div style="clear: both;"></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="profile-activity">
            {if count($pinnedTracks) > 0}
                <h3>PINNED ACTIVITY</h3>
                {foreach $pinnedTracks as $track}
                    <div class="activity-line">
                        <p class="name float-left"><a href="{plink :Backend:Tracks:Default, 'id' => $track->getId(), 'username' => $user->username}">{$track->getName()}</a></p>
                        <p class="date float-right">{$track->getDate()|dateAgoNumber}{$track->getDate()|dateAgoText}</p>
                        <div style="clear: both;"></div>
                    </div>
                {/foreach}
            {/if}
            {if count($tracks) > 0}
                <h3>RECENT ACTIVITY</h3>
                {foreach $tracks as $track}
                    <div class="activity-line">
                        <p class="name float-left"><a href="{plink :Backend:Tracks:Default, 'id' => $track->getId(), 'username' => $user->username}">{$track->getName()}</a></p>
                        <p class="date float-right">{$track->getDate()|dateAgoNumber}{$track->getDate()|dateAgoText}</p>
                        <div style="clear: both;"></div>
                    </div>
                {/foreach}
             {/if}
        </div>
        <div class="profile-summary">
            <div class="left-box float-left">
                <p class="number">{$user->getTotalDistance()}</p>
                <p class="description">total km</p>
            </div>
            <div class="right-box float-left">
                <p class="number">{count($user->getTracks())}</p>
                <p class="description">total count</p>
            </div>
        </div>
    </div>