.modal .profile-page {
    margin-top: 50px;
    margin-bottom: 50px;
}
.one-profile .profile {
    margin: 0 auto;
}
.many-profiles {
    padding-left: 50px;
    padding-right: 50px;
}
.many-profiles .profile {
    float: left;
    margin-bottom: 50px;
}
.modal .profile {
    width: 500px;
    background-color: white;
}
.modal .profile .profile-image {
    position: relative;
    width: 100%; height: 300px; /* for IE 6 */
}
.modal .profile img {
    width: 500px; height: 300px;
}
.modal .profile .profile-tags {
    font-size: 16px;
}
.modal .profile .profile-menu {
    border-bottom: 1px solid #adbfcd;
    margin: 15px 35px 0 35px;
    padding-bottom: 15px;
}
.modal .profile .profile-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.modal .profile .profile-menu ul li {
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Verdana";
}
.modal .profile .profile-menu ul li a {
    display: block;
    padding: 14px 15px 0 15px;
    height: 30px;
    color: #293c4b;
    text-decoration: none;
}
.modal .profile .profile-menu ul li a:hover {
    color: white;
    background-color: #293c4b;
}
.modal .profile .profile-menu ul .icon {
    padding-left: 70px;
    background: url('../../../../images/icons.png') no-repeat;
}
.modal .profile .profile-menu ul .tracks {
    background-position: 0 10px;
}
.modal .profile .profile-menu ul .tracks:hover {
    background-position: -48px 10px;
}
.modal .profile .profile-menu ul .photos {
    background-position: 0 -35px;
}
.modal .profile .profile-menu ul .photos:hover {
    background-position: -48px -35px;
}
.modal .profile .profile-menu ul .places {
    background-position: 0 -80px;
}
.modal .profile .profile-menu ul .places:hover {
    background-position: -48px -80px;
}
.modal .profile .profile-activity {
    min-height: 100px;
    margin: 0 50px 0 50px;
    padding-bottom: 30px;
}
.modal .profile .profile-activity .name {
    color: #293c4b;
    margin: 10px 0 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: "Verdana";
}
.modal .profile .profile-activity .date {
    color: #293c4b;
    margin: 10px 0 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: "Verdana";
}
.modal .profile .profile-activity .activity-line p a {
    color: #293c4b;
    text-decoration: none;
}
.modal .profile .profile-activity .activity-line p a:hover {
    font-weight: bold;
}
.modal .profile .profile-summary {
    height: 83px;
    color: #293c4b;
    margin: 0 35px 40px 35px;
    padding-top: 20px;
    border-bottom: 1px solid #adbfcd;
    border-top: 1px solid #adbfcd;
}
.modal .profile .profile-summary .number {
    line-height: 1;
    height: 45px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 48px;
    font-family: "Kalinga";
}
.modal .profile .profile-summary .description {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-family: "ProximaNova-Light";
}
.modal .profile .profile-summary .left-box {
    width: 214px;
    border-right: 1px solid #adbfcd;
}
.modal .profile .profile-summary .right-box {
    width: 215px;
}

.following-status {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 40px;
    position: absolute;
    top: 25px;
    right: 35px;
    border: 2px solid white;
}

.following-status a {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Verdana";
    padding-top: 12px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: block;
    height: 28px;
}
.no-following a:hover {
    /*background-color: white;*/
}
.no-following:hover {
    background: white;
}
.no-following a:hover {
    color: #293c4b;
}
.following {
    background: white;
}
.following a {
    color: #293c4b;
}
.tags-etc {
    color: transparent;
    background: url('../../../../images/etc.png') no-repeat center center;
}
