 <div id="profile{$profileUser->id}" class="modal fade" tabindex="-1" style="display: none;">
    <div class="modal-profile">
        <div class="profile-image">
            <img src="{link getProfileImage}">
            {if count($profileUser->transports) > 0}
                <h2><a style="opacity: 1;" href="{plink :Backend:Profile:default, 'username' => $profileUser->username}">{$profileUser->getName()}</a><br/>
            {else}
                <h2 style="top: 225px;"><a style="opacity: 1;" href="{plink :Backend:Profile:default, 'username' => $profileUser->username}">{$profileUser->getName()}</a><br/>
            {/if}
                <span class="profile-tags">
                {foreach $profileUser->transports as $transport}
                    {if $iterator->getCounter() < 3}
                        {var $args = array('values' => [filterTransport => array($transport->name)], 'username' => $profileUser->username)}
                        <a href="{plink :Backend:Search:default (expand) $args}">#{$transport->name}</a>
                    {/if}

                {/foreach}
                    {if count($profileUser->transports) > 0}
                        <a class="tags-etc" data-toggle="modal" href="#transports{$profileUser->id}">mana</a>
                    {/if}
                </span>
            </h2>
            {if $user->isLoggedIn()}
                {if $loggedUser->following->contains($profileUser)}
                    <div class="following-status following">
                        <a href="{link unfollow!}">following</a>
                    </div>
                {else}
                    <div class="following-status no-following">
                        <a href="{link follow!}">follow</a>
                    </div>
                {/if}
            {/if}

        </div>
        <div class="profile-activity">
            {if count($pinnedTracks) > 0}
                <h3>PINNED ACTIVITY</h3>
                {foreach $pinnedTracks as $track}
                    <div class="activity-line">
                        <p class="name float-left"><a href="{plink :Backend:Tracks:Default, 'id' => $track->getId(), 'username' => $profileUser->username}">{$track->getName()}</a></p>
                        <p class="date float-right">{$track->getDate()|dateAgoNumber}{$track->getDate()|dateAgoText}</p>
                        <div style="clear: both;"></div>
                    </div>
                {/foreach}
            {/if}
            {if count($tracks) > 0}
                <h3>RECENT ACTIVITY</h3>
                {foreach $tracks as $track}
                    <div class="activity-line">
                        <p class="name float-left"><a href="{plink :Backend:Tracks:Default, 'id' => $track->getId(), 'username' => $profileUser->username}">{$track->getName()}</a></p>
                        <p class="date float-right">{$track->getDate()|dateAgoNumber}{$track->getDate()|dateAgoText}</p>
                        <div style="clear: both;"></div>
                    </div>
                {/foreach}
             {/if}
        </div>
        <div class="profile-summary">
            <div class="left-box float-left">
                <p class="number">{$profileUser->getTotalDistance()}</p>
                <p class="description">total km</p>
            </div>
            <div class="right-box float-left">
                <p class="number">{count($profileUser->getTracks())}</p>
                <p class="description">total count</p>
            </div>
        </div>
        <div style="text-align:center; padding-bottom: 40px;">
            <a class="button" href="{plink :Backend:Profile:default, 'username' => $loggedUser->username}">
                full profile
            </a>
        </div>
    </div>
</div>

{control transportsModal, $themeDir.'Modules/Backend/Controls/TransportsModal/TransportsModal.latte'}
