/* Fonts
----------------------------------------------------------*/
@font-face {
    font-family: "ProximaNova-Light";
    src: url("../fonts/ProximaNova-Light.otf");
}
@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSans_500-webfont.ttf");
}
@font-face {
    font-family: "Kalinga";
    src: url("../fonts/kalinga.ttf");
}

/* Global
----------------------------------------------------------*/
html {
    position: relative;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
body {
    margin: 0 auto;
    width: 100%;
    font-size: 17px;
    font-family: "ProximaNova-Light";
}
body > .container {
    width: 100%;
    padding: 0;
}

/* Headings
----------------------------------------------------------*/
h1, h1 a {
    text-align: center;
    color: #55676e;
    font-size: 38px;
    font-weight: normal;
    letter-spacing: 4px;
    font-family: Verdana;
    margin-bottom: 50px;
}
h2 {
    color: white;
    position: absolute;
    top: 200px;
    left: 35px;
    line-height: 30px;
    font-size: 28px;
    font-weight: normal;
    font-family: "Verdana";
}
h2 a {
    opacity: 0.6;
    color: white;
    text-decoration: none;
}
h2 a:hover {
    opacity: 1;
}
h3, h3 a {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: #293c4b;
    font-size: 15px;
    font-weight: bold;
    font-family: "Verdana";
}
h4, h4 a {
    padding-left: 40px;
    color: #55676e;
    font-size: 16px;
    font-family: "Verdana";
    margin-bottom: 10px;
    margin-top: 20px;
}
h1, h2, h3, h4 {
    /*margin-top: 0;
    font-weight: bold;
    font-family: "Verdana";*/
}
h3 a:hover {
    /*color: #6e797a;*/
}
h1 a:hover, h2 a:hover, h4 a:hover {
    /*color: #484848;*/
}

/* Shortcuts
----------------------------------------------------------*/
.float-left {
    float: left;
}
.float-right {
    float: right;
}

/* Buttons
----------------------------------------------------------*/
input[type="submit"] {
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Verdana";
    background-color: transparent;
    color: #293c4b;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 44px;
    border: 2px solid #293c4b;
}

input[type="submit"]:active, input[type="submit"]:hover {
    color: white;
    background-color: #293c4b;
}

/* MODALS */
.modal .modal-header h2 {
    color: #293c4b;
    position: inherit;
    margin: 0;
}
.modal .modal-body input[type="checkbox"] {
    margin-top: 15px;
}
.modal .modal-body h3:first-child {
    margin-top: 0;
}
.modal .modal-body h3 {
    margin-top: 35x;
}
.modal .modal-body .line .name {
     color: #293c4b;
     margin: 10px 0 10px 0;
     font-size: 16px;
     font-weight: normal;
     font-family: "Verdana";
}
.modal .modal-body .line .name a {
    color: #293c4b;
}
.modal .modal-body .line .input {
    margin-top: 0;
    margin-bottom: 0;
}
.modal .modal-body input[type="text"] {
    height: 38px;
    font-size: 16px;
    font-weight: normal;
    font-family: "Verdana";
    border: none;
}
.close {
    border: none;
    cursor: pointer;
    width: 28px; height: 28px;
    margin: 0;
    right: 50px;
    top: 28px;
    position: absolute;
    background: url('../../../../images/close.png') no-repeat center center;
}
.modal .modal-body .line .float-left input {
    text-align: left;
}
.modal .modal-body .line .float-right input {
    text-align: right;
}
.modal .modal-body .border {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 25px;
    padding-bottom: 30px;
}
.modal .modal-body input[type="submit"] {
    margin-bottom: 25px;
}