@font-face {
    font-family: "ProximaNova-Light";
    src: url("../fonts/ProximaNova-Light.otf");
}
@font-face {
    font-family: "Pristina";
    src: url("../fonts/Pristina.ttf");
}
@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSans_500-webfont.ttf");
}

html {
    position: relative;
    min-height: 100%;
}
body {
    width: 100%;
    color: #6e797a;
    background-color: #e1e3e4;
    font-size: 17px;
    font-family: "ProximaNova-Light";
}
body > .container {
    width: 100%; min-height: 1000px;
}
#content {
    padding: 0 0 100px 50px;
}
footer {
    padding-top: 310px;
    text-align: center;
    color: #2f2f2f;
    font-size: 20px;
    float: left;
    width: 100%;
    height: 350px;
    font-family: "Pristina";
    background-image: url("../images/footer-bg.jpg");
    background-size: cover;
    background-position: bottom;
}
.navbar-nav {
    margin: 0;
}

/* GLOBAL
----------------------------------------------------------*/
li {
    list-style: none;
}
ul {
    padding: 0;
    display: inline;
    list-style-type: none;
}
a {
    color: #6e797a;
}
a:hover {
    color: #6e797a;
    text-decoration: none;
    opacity: 0.7;
    transition: all .25s linear;
}

/* HEADINGS
----------------------------------------------------------*/
h1, h1 a {
    color: #484848;
    font-size: 24px;
}
h2, h2 a {
    color: #484848;
    font-size: 16px;
}
h3, h3 a {
    color: #6e797a;
    font-size: 16px;
}
h4, h4 a {
    color: #484848;
    font-size: 18px;
}
h1, h2, h3, h4 {
    margin-top: 0;
    font-weight: bold;
    font-family: "Verdana";
}
h3 a:hover {
    color: #6e797a;
}
h1 a:hover, h2 a:hover, h4 a:hover {
    color: #484848;
}

/* SHORTCUTS
----------------------------------------------------------*/
.text-align-center {
    text-align: center;
}
.text-align-right {
   text-align: right;
}
.text-align-left {
    text-align: left;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.margin-auto {
    margin: 0 auto;
}
.border-bottom {
    border-bottom: 1px solid #8ed6d6;
}
.margin-bot-0 {
    margin-bottom: 0;
}
.margin-bot-5 {
    margin-bottom: 5px;
}
.margin-bot-10 {
    margin-bottom: 10px;
}
.margin-bot-15 {
    margin-bottom: 10px;
}
.margin-bot-20 {
    margin-bottom: 20px;
}
.margin-bot-40 {
    margin-bottom: 40px;
}
.margin-bot-70 {
    margin-bottom: 70px;
}
.margin-bot-100 {
    margin-bottom: 100px;
}
.padding-left-5 {
     padding-left: 5px;
 }
.padding-left-10 {
    padding-left: 10px;
}
.padding-left-15 {
    padding-left: 15px;
}
.padding-left-20 {
    padding-left: 20px;
}
.padding-right-5 {
    padding-right: 5px;
}
.padding-right-2-p {
    padding-right: 2%;
}
.padding-right-10 {
    padding-right: 10px;
}
.padding-right-15 {
    padding-right: 15px;
}
.padding-right-20 {
    padding-right: 20px;
}
.padding-bot-5 {
    padding-bottom: 5px;
}
.padding-top-5 {
    padding-top: 5px;
}
.padding-top-100 {
    padding-top: 100px;
}
.padding-bot-15 {
    padding-bottom: 15px;
}
.highlight {
    font-weight: bold;
    line-height: 18px;
    font-family: 'Verdana';
}
.not-highlight {
    font-weight: normal;
    font-family: 'ProximaNova-Light';
}
.width-25 {
    width: 25%;
}
.width-40 {
    width: 40%;
}
.width-60 {
    width: 60%;
}
.width-50 {
    width: 50%;
}
.width-100 {
    width: 100%;
}

/* BARS
----------------------------------------------------------*/
.bar {
    padding-top: 13px;
    text-align: center;
    width: 200px; height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: "Verdana";
}
.info {
    margin: 8px 0 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    line-height: 1.1;
}
.info p:first-child {
    font-size: 24px;
    font-family: "MuseoSans";
    margin-bottom: 0;
}
.info p {
    font-size: 13px;
    font-family: "ProximaNova-Light";
    margin-bottom: 0;
}
.border {
    border-left: 1px solid #8ed6d6;
}
.overall {
    color: #80c2c2;
}
.overall-bg {
    background-color: #80c2c2;
}
.partial {
    color: #F0886D;
}
.partial-bg {
    background-color: #F0886D;
}

/* PLUGINS - comments-summary
----------------------------------------------------------*/
/*.comments-summary input[type="text"] {
    padding: 3px 20px 0;
    width: 90%; height: 50px;
    background-color: white;
    border: none;
}
.comments-summary input[type="submit"] {
    width: 10%; height: 50px;
    background-color: #37bfbd;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/accept.png);
}
.comments-summary input[type="submit"]:hover {
    background-color: #80c2c2;
}*/

/* PLUGINS - event
----------------------------------------------------------*/
.event-description h1 {
    margin-top: 15px;
    margin-bottom: 30px;
}
.event-description .event-text {
    line-height: 190%;
}

/* PLUGINS - photos
----------------------------------------------------------*/
.photos-summary-vertical .photo-description {
    width: 860px;
}
/* SEARCH TOP
----------------------------------------------------------*/
#top-menu-search {
    padding: 17px 0 0 50px;
    width: 240px; height: 55px;
    background-color: #37bfbd;
}
#top-menu-search:hover {
    opacity: 0.7;
}
#top-menu-search-ref a {
    cursor: pointer;
}
#top-menu-search #top-menu-search-ref {
    width: 168px; height: 28px;
    border-bottom: 2px solid white;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../images/search.png);
}
#top-menu-search #top-menu-search-ref a{
    position: absolute;
    width: 240px; height: 55px;
    top: 0;
    left: 0;
}

/* SEARCH BAR
----------------------------------------------------------*/
#search-bar {
    z-index: 1030;
    position: fixed;
    padding: 0 37px 0 0;
    top: 55px;
    width: 100%; height: 40px;
    background-color: white;
    font-size: 16px;
    font-family: "Verdana";
    border-bottom: 1px solid #cbcdce;
}
#search-bar input[type="text"] {
    padding-top: 4px;
    padding-left: 50px;
    width: 240px; height: 39px;
    color: #37bfbd;
    border: none;
}
#search-bar-filters {
    padding-top: 4px;
    color: #e1e3e4;
}
#search-bar-filters .col-sm-2 {
    display: none;
}
#search-bar-filters .col-sm-10 {
    padding: 0;
}
#search-bar-filters .form-group {
    float: right;
    margin-bottom: 0;
    padding-left: 20px;
}
#search-bar-filters .form-control {
    cursor: pointer;
    font-size: 16px;
    width: auto;
    border: none;
    box-shadow: none;
    color: #d5d9d8;
}
#search-bar-filters .form-control:last-child {
    padding-right: 0;
    margin-right: 12px;
}
#search-bar-filters .form-control:hover, #search-bar-filters .form-control:active,
#search-bar-filters .form-control:visited, #search-bar-filters .form-control:focus {
    border: none;
    box-shadow: none;
}
#search-bar-filters .form-control option {
    color: #f4f4f4;
    background-color: #6e797a;
}

/* TOP MENU TITLE
----------------------------------------------------------*/
#top-menu-title {
    padding-top: 5px;
    font-size: 40px;
    font-family: "Pristina";
}

/* TOP MENU MAP
----------------------------------------------------------*/
.navbar-fixed-top {
    height: 55px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #cbcdce;
    text-align: center;
}
/*#top-menu-map {
    float: left;
    height: 55px;
}
#top-menu-map .map {
    text-align: center;
    padding: 5px 0 0 0;
    margin: 0;
}
#top-menu-map .map li a {
    color: #37bfbd;
    font-size: 12px;
    font-family: "Verdana";
    text-align: right;
    opacity: 0.5;
    width: 110px; height: 50px;
    padding-top: 16px;
    background-repeat: no-repeat;
    background-position: left top;
    transition: background-color 0.3s ease-in-out;
}
#top-menu-map .map li a.map { background-image: url(../images/map-icon.png); }
#top-menu-map .map li a:hover.map { background-position: left bottom; opacity: 1;}

/* TOP MENU SOCIAL
----------------------------------------------------------*/
#top-menu-social {
    height: 55px;
}
#top-menu-social .social {
    padding: 5px 5px 0 0;
}
#top-menu-social .social li a {
    width: 50px; height: 50px;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center top;
    transition: background-color 0.3s ease-in-out;
}
#top-menu-social .social li a.twitter { background-image: url(../images/icon-twitter.png); }
#top-menu-social .social li a.facebook { background-image: url(../images/icon-facebook.png); }
#top-menu-social .social li a:hover.twitter { background-position: center bottom; }
#top-menu-social .social li a:hover.facebook { background-position: center bottom; }

/* RIGHT MENU
----------------------------------------------------------*/
#right-menu-ref {
    padding-right: 50px;
    cursor: pointer;
    width: 140px; height: 55px;
    background-color: #d5d9d8;
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-image: url(../images/right-menu.png);
}
#right-menu-ref:hover {
    opacity: 0.7;
}
#right-menu-ref a {
    position: absolute;
    width: 140px; height: 55px;
    top: 0;
    right: 0;
}
#right-menu {
    color: #6e797a;
    padding: 0 50px 0 20px;
    width: 450px;
    position: fixed;
    right: 0;
    font-size: 16px;
}
#wrapper {
    width: 100%; height: 100%;
    position: fixed;
}
#right-menu-center {
    color: #6e797a;
    padding: 0 50px 0 20px;
    width: 450px;
    font-size: 16px;

    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.summary {
    border: 1px solid #6e797a;
}
.summary .bar {
    background-color: #e1e3e4;
    color: #6e797a;
}
.summary .bar:first-child {
    border-right: 1px solid #6e797a;
    width: 189px;
}
.summary .bar:last-child {
    width: 188px;
}
#right-menu h3 a, #right-menu-center h3 a {
    font-size: 18px;
}
#right-menu h3, #right-menu-center h3 {
    margin: 0;
}
#right-menu li, #right-menu-center li {
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 15px 0 15px;
    height: 28px;
    color: #f4f4f4;
    background-color: #6e797a;
}
#right-menu li a, #right-menu-center li a {
    color: #f4f4f4;
}
#right-menu .align-left, #right-menu-center .align-left {
    padding-top: 5px;
}
#right-menu ul .part, #right-menu-center ul .part {
    height: 29px;
}

/* SEARCH-TITLE
----------------------------------------------------------*/
#search-title li {
    float: left;
    padding: 5px 15px 0 15px;
}
#search-title .align-left {
    padding-top: 5px;
}
#search-title .selected {
    height: 28px;
    color: #f4f4f4;
    background-color: #6e797a;
}
#search-title .selected a {
    color: #f4f4f4;
}
#search-title .part {
    height: 29px;
}